body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 20%,
    rgba(0, 212, 255, 1) 99%
  );
  color: aliceblue;
}

.Formes {
    display: flex;
    
  background-color: transparent;
margin-left: 50px;
margin-right: 50px;
  
  padding: 20px 100px;
  border-radius: 10%;
  box-shadow: 10px 10px 10px;
  
}
h4 {
  margin: 130px 50px 20px 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

h4 > a {
  color: #020024;
}
a:hover{
    color: rgb(173, 160, 190);
}
